<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<h1 th:text="${addedumessage}">This should not display</h1>

<form action="#" th:action="@{/addedutoper}" th:object="${newEdu}" method="post">
    <input type="text" th:field="*{person.id}" />
    <input type="text" th:field="*{person.name}"/>

    <!--<span th:if="${#fields.hasErrors('degree')}" th:error="*{degree}">Degree Error</span>-->
    <p>Enter your degree: <input type="text" th:field="*{degree}"/></p>
    <!--<span th:if="${#fields.hasErrors('major')}" th:error="*{major}">Major Error</span>-->
    <p>Enter your major: <input type="text" th:field="*{major}"/></p>
    <!--<span th:if="${#fields.hasErrors('uni')}" th:error="*{uni}">University Error</span>-->
    <p>Enter your university: <input type="text" th:field="*{uni}"/></p>
    <!--<span th:if="${#fields.hasErrors('graduateDate')}" th:error="*{graduateDate}">Graduate Date Error</span>-->
    <p>Enter your graduate date: <input type="text" th:field="*{graduateDate}"/></p>

    <button type="submit" class="btn btn-dark" value="Submit">Add Education</button>
    <button type="reset" class="btn btn-dark" value="Reset">Reset</button>
</form>

</body>

</html>