<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<h2 th:text="${addskimessage}">This should not display</h2>

<form action="#" th:action="@{/addskitoper}" th:object="${newSki}" method="post">
    <input type="text" th:field="*{person.id}" />
    <input type="text" th:field="*{person.fName}"/>
    <input type="text" th:field="*{skiId}" />
    <br/>

    <p><span th:if="${#fields.hasErrors('skiName')}" th:error="*{skiName}">Input Error</span></p>
    <p>Enter your skills: <input type="text" th:field="*{skiName}"/></p>
    <span th:if="${#fields.hasErrors('skiLevel')}" th:error="*{skiLevel}">Input Error</span>
    <p>Enter your skills' level: <input type="text" th:field="*{skiLevel}"/></p>

    <button type="submit" class="btn btn-dark" value="Submit">Add Experience</button>
    <button type="reset" class="btn btn-dark" value="Reset">Reset</button>
</form>

</body>

</html>