<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<!--list persons-->
<h1>All persons</h1>
<table>
    <tr>
        <td><p>Name</p></td>
        <td><p>Email</p></td>
    </tr>

    <th:block th:each="singleperson:${persons}">
        <tr>
            <td><p th:text="${singleperson.fName}+' '+${singleperson.lName}"/></td>
            <td><p th:text="${singleperson.email}"/></td>
            <td><a th:href="@{/addedu/{id}(id=${singleperson.id})}">Add educations</a></td>
            <td><a th:href="@{/addexp/{id}(id=${singleperson.id})}">Add working experiences</a></td>
            <td><a th:href="@{/addski/{id}(id=${singleperson.id})}">Add skills</a></td>
            <td><a th:href="@{/listresume/{id}(id=${singleperson.id})}">Show resume</a></td>
        </tr>
    </th:block>

</table>

</body>
</html>